.sectionHome {
  padding-top: 10px;
  width: 100vw;
  height: 100vh;

  background-image: url('../../images//tweet-bg-home.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
