.btnWithArrow {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  width: max-content;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  color: var(--blue-color);

  transition: color 250ms;
}

.arrowRight > p {
  margin-right: 8px;
}

.arrowLeft > p {
  margin-left: 8px;
}

.btnWithArrow:hover,
.btnWithArrow:focus {
  color: var(--button-accent-color);
}
